<section class="ftco-intro">
  <div class="container-wrap">
    <div class="wrap d-md-flex">
      <div class="info">
        <div class="row no-gutters">
          <div class="col-md-4 d-flex ftco-animate">
            <div class="icon"><span class="icon-phone"></span></div>
            <div class="text">
              <h3>+57 320 744 3658</h3>
              <p>Llámanos o escríbenos</p>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
            <div class="icon"><span class="icon-my_location"></span></div>
            <div class="text">
              <h3>Carrera 15 # 19B - 09 Sur</h3>
              <p>Barrio Siglo XXI, Pitalito Huila</p>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
            <div class="icon"><span class="icon-clock-o"></span></div>
            <div class="text">
              <h3>Abierto Toda la Semana</h3>
              <p>09:00am - 19:00pm</p>
            </div>
          </div>
        </div>
      </div>
      <div class="social d-md-flex pl-md-5 p-4 align-items-center">
        <ul class="social-icon">
          <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
          <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
          <li class="ftco-animate"><a href="#"><span class="icon-youtube-play"></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="ftco-about d-md-flex">
  <div class="one-half img" style="background-image: url(images/about.jpg);"></div>
  <div class="one-half ftco-animate">
    <div class="heading-section ftco-animate ">
      <h2 class="mb-4">Bienvenidos al <span class="flaticon-chef">Asadero El Sazón de Alejo</span></h2>
    </div>
    <div>
      <p>Agradecemos enormemente a toda la comunidad Laboyana y a todos los visitantes de nuestra ciudad. Ustedes
        hicieron que mi sueño, de establecerme como uno de los mejores referentes gastronómicos de la ciudad, se hiciera
        realidad. Nuestras instalaciones están listas para que nuestros comensales disfruten del mejor momento del día y
        con mucha comodidad. También, para que puedan disfrutar de una deliciosa comida en un espectacular ambiente
        llanero. ¡Venga cuña'o y disfrute del mejor asado llanero de Pitalito!</p>
    </div>
  </div>
</section>