<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="{{ site.baseurl }}/index"><img src={{ "images/logo/logo50.png" | relative_url }}
        alt="Logo Asadero El Sazón de Alejo">
      Asadero<br><small>El Sazón de Alejo</small></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        {% if page.url == "/" %}
        <li>
        <li class="nav-item active">
          {% else %}
        <li class="nav-item">
          {% endif %}
          <a href="/index" class="nav-link">Inicio</a></li>
        <li class="nav-item"><a href="/menu" class="nav-link">Menu</a></li>
        <li class="nav-item"><a href="/services" class="nav-link">Servicio</a></li>
        <li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">Nuestra Sazón</a></li>
        <li class="nav-item"><a href="/contact" class="nav-link">Contácto</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->