<section class="ftco-section ftco-services">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h2 class="mb-4">Nuestros Servicios</h2>
        <p>En el Asadero el Sazón de Alejo, queremos servirte como te lo mereces. Por eso, disponemos de nuestros
          servicios, como verás a continuación:</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 ftco-animate">
        <div class="media d-block text-center block-6 services">
          <div class="icon d-flex justify-content-center align-items-center mb-5">
            <span class="flaticon-diet"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Menús variados</h3>
            <p>Además de nuestro insuperable asado, podrás encontrar variedad de platos ejecutivos
              diarios.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="media d-block text-center block-6 services">
          <div class="icon d-flex justify-content-center align-items-center mb-5">
            <span class="flaticon-bicycle"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Domicilios</h3>
            <p>Por supuesto, puedes pedir y satisfacer tu antojo en la comodidad de tu hogar.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="media d-block text-center block-6 services">
          <div class="icon d-flex justify-content-center align-items-center mb-5"><span class="flaticon-medal"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Eventos</h3>
            <p>Nuestro personal está listo para atender tus eventos importantes, ya sea en nuestras instalaciones o en tu lugar favorito.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
